# Archivos de compilación
/ProyectoDAM/bin/
/ProyectoDAM/obj/
/.vs/
/bin/
/obj/

.vs/
ProyectoDAM/bin/
ProyectoDAM/obj/


# Archivos de compilación
**/ProyectoDAM/bin/
**/ProyectoDAM/obj/
/.vs/
/bin/
/obj/

**/.ProyectoDAM/bin/
**/.ProyectoDAM/obj/
**/..vs/
**/.bin/
**/.obj/


# Archivos de usuario
*.user
*.suo
*.userprefs

# Archivos de compilación
/bin/
/obj/

# Archivos de configuración del IDE
*.sln.ide
*.vs/
.vscode/
.idea/

# Archivos de paquetes
*.nupkg
packages/

# Archivos temporales de Visual Studio
*.tmp
*.temp

# Archivos de caché
*.cache

# Archivos de depuración
*.dbg

# Archivos de publicación
*.publish.xml
*.pdb

# Archivos de logs
*.log

# Otros
*.dll
*.exe
*.app
*.o
*.class
*.mdb
*.dbmdl
*.dbproj.schemaview
*.dbproj
*.dbmdl
*.d.ts
